*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg-white: hsl(0, 0%, 100%);
  --color-bg-slate-300: hsl(212, 45%, 89%);
  --color-text-slate-500: hsl(216, 15%, 48%);
  --color-text-slate-900: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--color-bg-slate-300, hsl(212, 45%, 89%));
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 32rem;
  height: auto;
  padding: 1.6rem 1.6rem 4rem 1.6rem;
  background-color: var(--color-bg-white, hsl(0, 0%, 100%));
  border-radius: 2rem;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);
}

.card-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card-text h1 {
  margin-top: 2.3rem;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.4;
  color: var(--color-text-slate-900, hsl(218, 44%, 22%));
  width: min(90%, 65ch);
}

.card-text p {
  margin-top: 1.6rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  color: var(--color-text-slate-500, hsl(216, 15%, 48%));
  width: min(90%, 65ch);
}
